Repository crystal-lang/crystal-website, pull requests merged in 2023-07, with the labels that each got.

#464 Add newsletter RSS link
  _pages/community.html
Labels: enhancement

#466 Windows support in Crystal 1.9 post
  _posts/2023-07-06-windows-support-1.9.md
  assets/blog/2023-07-06-windows-installer.png
Labels: post

#468 Release post for 1.9.0
  _posts/2023-07-06-windows-support-1.9.md
  _releases/2023-07-11-1.9.0-released.md
Labels: release

#470 Release post for 1.9.1
  _releases/2023-07-17-1.9.1-released.md
Labels: release

#469 Add Termux install instructions
  _data/install.yaml
  _pages/install/on_termux.md
  assets/install/termux@2x.png
Labels: enhancement

#465 Post about Remilia
  _data/blog_authors.json
  _posts/2023-06-28-Remilia-interview.md
  _sass/pages/_blog.scss
  assets/authors/Remilia.jpg
Labels: post

#473 Release post for 1.9.2
  _releases/2023-07-19-1.9.2-released.md
Labels: release

#479 Updating manually big sponsors
  _data/others.json
  _data/sponsors.csv
  index.html
Labels: topic:sponsors

#475 Add page: Team
  _data/top_sponsors.csv
  _includes/components/profile-card.html
  _includes/components/sponsorship.html
  _includes/components/top-sponsors.html
  _pages/team.html
  _pages/team.md
  _sass/base/_layout.scss
  _sass/base/_typography.scss
  _sass/components/_card.scss
  _sass/components/_cards-list.scss
  _sass/components/_profile-card.scss
  _sass/components/_side-section.scss
  _sass/components/_top-sponsors.scss
  _sass/components/_topics.scss
  _sass/elements/_hex.scss
  _sass/main.scss
  _sass/utilities/_full-width-rule.scss
  _sass/utilities/_text.scss
  _style_guide/components/profile-card.html
  _style_guide/components/topics.html
  _style_guide/elements/team-member.md
  assets/icons/domain.svg
  assets/icons/favorite.svg
  assets/icons/shuttle.svg
Labels: enhancement

#476 Add `/newsletter` redirects
  _pages/community.html
  _pages/newsletter.html
  _pages/newsletter/archive.html
  _pages/newsletter/feed.html
Labels: enhancement

#474 Silence bundler upon entering devenv shell
  devenv.nix
Labels: enhancement

#485 Fix nested markdown in callout
  _includes/callout.html
  _plugins/callouts.rb
  _style_guide/typography-callout-generic.md
Labels: bug
