Repository crystal-lang/crystal-website, pull requests merged in 2024-05, with the labels that each got.

#787 Fix nil assertion error for refunds
  scripts/merge.cr
Labels: topic:sponsors

#788 Success story: 84codes
  _data/authors.yaml
  _posts/success_stories/2024-05-22-lavinmq-understanding-code.md
  assets/authors/carlhoerberg.jpg
  assets/blog/2024-05-22-lavinmq-terminal.png
Labels: post

#794 Release 1.12.2
  _releases/2024-05-31-1.12.2-released.md
Labels: release
