Repository crystal-lang/crystal-website, pull requests merged in 2025-05, with the labels that each got.

#937 Welcome Margret!
  _data/team.yaml
  _posts/2025-05-07-margret-joins-core-team.md
  assets/authors/nobodywasishere.jpg
Labels: post

#938 Relable home button from _Learn_ to _Get Started_
  _layouts/home.html
Labels: enhancement

#941 Release 1.16.3
  _releases/2025-05-12-1.16.3-released.md
Labels: release

#939 Move _Install_ page to install section
  _data/sections.yaml
  _pages/install.md
Labels: enhancement
